.pay{
    display: block;
    margin: 20px;
    text-align: center;
}
.main-box{
    margin: 20px;
}
.heading{
    background-color: grey;
    flex-direction: center;
    text-align: center;
}
.box{
    text-align: center;
    height: 100%;
    width: 50%;
    margin: 10px auto;
    border: 2px solid black;
}